.alll{

}


/*---------------------*/
.first{
display: flex;
margin-top: 20px;
margin-bottom: 15px;
}


/*--------------------*/
.second{
display: flex;
margin-bottom: 15px;
}


/*---------------------*/
.third{
display: flex;
margin-bottom: 15px;
}


/*---------------------*/
.four{
display: flex;
margin-bottom: 15px;
}


/*---------------------*/
.five{
display: flex;
margin-bottom: 15px;
align-items: center;
}